/*---------------------------------------------------------------------------------

Navigation menu stylesheet

Name:			Expandable Navigation (off canvas menu)
Autor:			Claudia Romano
More info:		http://codyhouse.co/gem/secondary-expandable-navigation

Note: IE9 doesn't support transitions and animations

---------------------------------------------------------------------------------*/


/* ------------------------------------ *
 *  Header
/* ------------------------------------ */

header {
	position: absolute;
	top: 0;
	left: 0;
	height: 90px;
	width: 100%;
	z-index: 9999;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
header.lateral-menu-is-open {
	/* translate to show the lateral menu */
	-webkit-transform: translateX(-275px);
	-moz-transform: translateX(-275px);
	-ms-transform: translateX(-275px);
	-o-transform: translateX(-275px);
	transform: translateX(-275px);
}
header.is-fixed {
	position: fixed;
}
@media only screen and (max-width: 768px) {
	header {
		height: 75px;
	}
}


/* ------------------------------------ *
 *  Header logo
/* ------------------------------------ */

#cd-logo {
	display: block;
	float: left;
	background-color: #FFF;
	margin: 14px 0 0 14px;
	padding: 0 15px 15px 0px;
}
#cd-logo img {
	display: block;
	max-height: 84px;
}
@media only screen and (max-width: 768px) {
	#cd-logo img {
		max-height: 45px;
	}
}


/* ------------------------------------ *
 *  Header links
/* ------------------------------------ */

#cd-top-mobile-nav  .navbar-nav .open .dropdown-menu {
	background-color: #fff;
	width: 100%;
}

#cd-top-mobile-nav  ul.navbar-nav {
	margin: 0;
	width: 100%;
}

#cd-top-mobile-nav  .dropdown-menu li a {
    font-size: 19px;
}

#cd-top-mobile-nav  .dropdown {
	width:100%;
}

#cd-top-mobile-nav  {
	width: 100%;
    left: 92px;
}

#cd-top-nav a.active-menu  {
	color: #fff;
    background-color: #F20000;
	transition: ease 0.5s;
    /*padding-bottom: 13px;*/
}

#cd-top-nav a.active-menu:hover {
	color: #fff;
}

#cd-top-nav, #cd-top-mobile-nav {
	position: absolute;
	top: 0;
	right: 0;
	/*height: 100%;*/
	/*display: none;*/
	background-color: #fff;
    padding: 10px 30px;
    height: 56px;
	text-transform: uppercase;
    border-radius: 0px;
}
#cd-top-mobile-nav a.dropdown-toggle {
	padding-top: 10px;
	padding-bottom: 10px;
}

#cd-top-nav ul {
	height: 100%;
	margin: 0;
	/*padding-top: 24px;*/
}
#cd-top-nav li {
	display: inline-block;
	margin-right: 1em;
}
#cd-top-nav a {
	display: inline-block;
	padding: 8px 8px 13px 8px;
	color: #000;
	font-weight: bold;
	text-decoration: none;
}
#cd-top-nav a.current {
	background-color: #242e30;
}
#cd-top-nav a:hover {
	color: #F20000;
}
@media only screen and (min-width: 768px) {
	#cd-top-nav {
		display: block;
	}
}


/* ------------------------------------ *
 *  Menu trigger
/* ------------------------------------ */

#cd-menu-trigger {
	position: absolute;
	right: 15px;
	top: 14px;
	height: 60px;
	width: 60px;
	background-color: #FFF;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
#cd-menu-trigger .cd-menu-icon {
	position: absolute;
	display: inline-block;
	left: 50%;
	top: 50%;
	margin-top: -1.5px;
	margin-left: -10px;
	width: 20px;
	height: 3px;
	background-color: #F20000;
}
#cd-menu-trigger .cd-menu-icon::before, #cd-menu-trigger .cd-menu-icon:after {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: inherit;
	left: 0;
}
#cd-menu-trigger .cd-menu-icon::before {
	bottom: 7px;
}
#cd-menu-trigger .cd-menu-icon::after {
	top: 7px;
}
#cd-menu-trigger.is-clicked {
	right: 0;
}
#cd-menu-trigger.is-clicked .cd-menu-icon {
	background-color: rgba(255, 255, 255, 0);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before, #cd-menu-trigger.is-clicked .cd-menu-icon::after {
	background-color: #F20000;
}
#cd-menu-trigger.is-clicked .cd-menu-icon::before {
	bottom: 0;
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	transform: rotate(45deg);
}
#cd-menu-trigger.is-clicked .cd-menu-icon::after {
	top: 0;
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	-o-transform: rotate(-45deg);
	transform: rotate(-45deg);
}


/* ------------------------------------ *
 *  Navigation menu
/* ------------------------------------ */

#cd-lateral-nav {
	position: fixed;
	height: 100%;
	right: 15px;
	top: 15px;
	visibility: hidden;
	/* the secondary navigation is covered by the main element */
	z-index: 999;
	width: 260px;
	background-color: #181818;
	overflow-y: auto;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transition: -webkit-transform .4s 0s, visibility 0s .4s;
	-moz-transition: -moz-transform .4s 0s, visibility 0s .4s;
	transition: transform .4s 0s, visibility 0s .4s;
	/* this creates the subtle slide in animation of the navigation */
	-webkit-transform: translateX(80px);
	-moz-transform: translateX(80px);
	-ms-transform: translateX(80px);
	-o-transform: translateX(80px);
	transform: translateX(80px);
}
@media only screen and (max-width: 768px) {
	#cd-lateral-nav {
		top: 15px;
	}
}
#cd-lateral-nav .nav-inner {
	margin-bottom: 60px;
}
#cd-lateral-nav .cd-navigation {
	margin: 10px 0 16px;
}
#cd-lateral-nav .menu-header {
	background-color: rgba(255, 255, 255, 0.03);
	margin-bottom: 22px;
	padding: 17px 15px 15px 32px;
	text-transform: uppercase;
	font-size: 18px;
	font-weight: bold;
	color: #909090;
	border-bottom: 1px dotted #333;
}
#cd-lateral-nav .sub-menu {
	padding: 0 10px 20px 15px;
	display: none;
}
#cd-lateral-nav a {
	display: block;
	line-height: 31px;
	padding: 0 16px 0 32px;
	text-transform: uppercase;
	font-size: 17px;
	font-weight: 300;
	color: #CDCDCD;
}
#cd-lateral-nav a.current {
	background-color: #3a4a4d;
	color: #FFF;
}
#cd-lateral-nav a:hover {
	background-color: #F20000;
	color: #FFF;
	text-decoration: line-through;
}
@media only screen and (min-width: 768px) {
	#cd-lateral-nav .cd-navigation {
		margin: 20px 0;
	}
}
#cd-lateral-nav.lateral-menu-is-open {
	-webkit-transform: translateX(0);
	-moz-transform: translateX(0);
	-ms-transform: translateX(0);
	-o-transform: translateX(0);
	transform: translateX(0);
	visibility: visible;
	-webkit-transition: -webkit-transform .4s 0s, visibility 0s 0s;
	-moz-transition: -moz-transform .4s 0s, visibility 0s 0s;
	transition: transform .4s 0s, visibility 0s 0s;
	/* smooth the scrolling on touch devices - webkit browsers */
	-webkit-overflow-scrolling: touch;
}

/* style menu items which have a submenu  */
#cd-lateral-nav .item-has-children > a {
	position: relative;
}
/* this is the right arrow to show that the item has a submenu  */
#cd-lateral-nav .item-has-children > a::after {
	content: '';
	display: block;
	height: 11px;
	width: 8px;
	position: absolute;
	top: 50%;
	bottom: auto;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 1em;
	background: url("../img/menu/cd-arrow.svg") no-repeat center center;
	background-size: 8px 11px;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.2s;
	-moz-transition-duration: 0.2s;
	transition-duration: 0.2s;
}
#cd-lateral-nav .item-has-children > a.submenu-open::after {
	-webkit-transform: translateY(-50%) rotate(90deg);
	-moz-transform: translateY(-50%) rotate(90deg);
	-ms-transform: translateY(-50%) rotate(90deg);
	-o-transform: translateY(-50%) rotate(90deg);
	transform: translateY(-50%) rotate(90deg);
}
#cd-lateral-nav .sub-menu > li > a {
	font-size: 16px;
}

#cd-lateral-nav .menu-separator {
	margin: 0 32px;
	border-bottom: 1px solid #333;
}
#cd-lateral-nav .cd-single-item-wrapper .menu-separator {
	margin: 20px 32px;
}


/* ------------------------------------ *
 *  social icons
/* ------------------------------------ */

#cd-lateral-nav .social-icons {
	display: inline-block;
	margin-top: 20px;
	padding: 0 32px;
}
#cd-lateral-nav .social-icons a {
	float: left;
	padding: 0;
	margin-right: 8px;
	font-size: 32px;
	color: #FFF;
}
#cd-lateral-nav .social-icons a:hover {
	background-color: transparent;
	color: #F20000;
}


/* ------------------------------------ *
 *  Body content
/* ------------------------------------ */

#body-content {
	/* set a height and a z-index to be sure that the main element completely covers the lateral menu */
	height: 100%;
	position: relative;
	background-color: #f5f4e9;
	z-index: 999;
	/* Force Hardware Acceleration in WebKit */
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transition-property: -webkit-transform;
	-moz-transition-property: -moz-transform;
	transition-property: transform;
	-webkit-transition-duration: 0.4s;
	-moz-transition-duration: 0.4s;
	transition-duration: 0.4s;
}
#body-content.lateral-menu-is-open {
	/* translate to show the lateral menu - all content needs to be put in the #body-content to translate*/
	cursor: e-resize;
	-webkit-transform: translateX(-260px);
	-moz-transform: translateX(-260px);
	-ms-transform: translateX(-260px);
	-o-transform: translateX(-260px);
	transform: translateX(-260px);
}
